* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: red 2px solid; */
}

/* ENTRY PAGE */

body {
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  user-select: none;
  transition: background-image 2s ease; /* Transition for background image */
}

.dark-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
}

.background-overlay {
  position: absolute;
  border: 100px solid white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./assets/images/austin.jpg") no-repeat center center / cover;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.letter {
  display: grid;
  /* I guess I don't need this? */
  /* z-index: 1; */
  position: absolute;
  top: 0;
  left: 0;
  place-items: center;
  width: 100vw;
  height: 100vh;
  transform: scaleY(1.1);
  background: url("./assets/images/denver.jpg") no-repeat center center / cover;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  color: #000;
  font-size: 42vw;
  font-weight: 800;
  /* border: red 2px solid; */
  -webkit-text-fill-color: transparent;
}

.enter-btn {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  border-radius: 10px;
  font-size: 30px;
  border: black solid 4px;
  color: black;
  background-color: transparent;
  z-index: 2;
}

.enter-btn:hover {
  transition: background-color 2.5s;
  background-color: black;
  cursor: pointer;
  color: white;
}

/* Footer */

.footer {
  position: absolute;
  top: 1800px;
  /* left: 0; */
  /* width: 100%; */
  background-color: #333; /* Adjust background color as needed */
  color: white; /* Adjust text color as needed */
  text-align: center;
  padding: 10px; /* Adjust padding as needed */
}

/* NAV LIST */
/* !!!! SHOULD ALL BE LINKS, WILL COME BACK TO THAT */

.nav-wrapper {
  position: absolute;
  top: 10px;
  margin: 20px;
  z-index: 3;
}

.nav-list {
  margin: 10px;
  list-style: none;
}

.nav-list-item {
  padding: 10px;
}

.nav-link {
  text-decoration: none;
  color: black;
}

/* ABOUT */

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../src/assets/images/hero.jpg");
  height: 70vh;
  margin: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 350px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.about-text {
  position: relative;
  top: 370px;
  padding: 30px;
}

.about-text:hover {
  cursor: pointer;
}

.headline {
  position: absolute;
  text-align: center;
  bottom: 100px;
  left: 0;
  right: 0;
}

.page-title {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 78px;
  text-align: center;
  font-size: 100px;
}

.swiper {
  position: absolute;
  width: 64%;
  padding-top: 50px;
  padding-bottom: 50px;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.watch-togethr {
  background: url("./assets/images/RedVersion.png") no-repeat center center /
    cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-bio {
  color: black;
  font-weight: bolder;
  background-color: rgba(255, 255, 255, 0.478);
  font-size: 20px;
  padding: 2px;
  margin: 7px;
  border-radius: 10px;
}

.watch-togethr li {
  list-style: none;
  border: solid 2px white;
  margin: 5px;
  padding: 5px;
  text-align: center;
  background-color: black;
  color: white;
  visibility: hidden;
  border-radius: 10px;
  display: inline-flex;
}

.watch-togethr:hover li {
  visibility: visible;
}

.watch-togethr p {
  visibility: hidden;
}

.watch-togethr:hover p {
  visibility: visible;
}

.brew {
  background: url("./assets/images/brew.jpg") no-repeat center center / cover;
}

.git-icon {
  width: 45px;
  height: 45px;
  position: absolute;
  bottom: 5px;
  right: 20px;
}

.link-icon {
  width: 45px;
  height: 45px;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

.links {
  color: black;
}

.git-icon:hover {
  filter: drop-shadow(1px 1px 4px #ff0000);
}

.wt-icon-color:hover {
  filter: drop-shadow(1px 1px 4px #ff0000);
}
